In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [8]:
prefix='/home/anowak/projects/deep-kernel-transfer/save/sines1d/{}/checkpoints/sines/MLP2_DKT_test_results.npy'

In [9]:
kernel='nn'

In [10]:
data = np.load(prefix.format(kernel), allow_pickle=True).item()

In [12]:
data.keys()

dict_keys(['mse_list', 'nll_list', 'mean', 'lower', 'upper', 'x', 'y', 'mse', 'mse_std', 'nll', 'nll_std'])

In [13]:
data["mse"]

[0.02400265]

In [14]:
data["mse_std"]

[0.015421757]

In [34]:
kernels = ["rbf","spectral","nn","flow_rbf","flow_spectral","flow_nn"]

In [35]:
def get_table(prefix, kernels):
    results = {"method":[], "mse":[], "nll":[]}
    for k in kernels:
        try:
            data = np.load(prefix.format(k), allow_pickle=True).item()
            results["method"].append(k)
            results["mse"].append("{:.2f} \pm {:.2f}".format(np.round(data["mse"][0],2),np.round(data["mse_std"][0],2)))
            results["nll"].append("{:.2f} \pm {:.2f}".format(np.round(data["nll"][0],2),np.round(data["nll_std"][0],2)))
        except IOError:
            results["method"].append(k)
            results["mse"].append(np.nan)
            results["nll"].append(np.nan)
    
    return pd.DataFrame.from_dict(results)

In [45]:
tab = get_table(prefix,kernels)

In [37]:
data1 = np.load(prefix.format("spectral"), allow_pickle=True).item()

In [38]:
data2 = np.load(prefix.format("flow_spectral"), allow_pickle=True).item()

In [40]:
data1.keys()

dict_keys(['mse_list', 'nll_list', 'mean', 'lower', 'upper', 'x', 'y', 'mse', 'mse_std', 'nll', 'nll_std'])

In [43]:
np.mean(data1["mse_list"])

0.018801266

In [44]:
np.mean(data2["mse_list"])

0.018479077

In [46]:
tab

          method            mse             nll
0            rbf  1.36 \pm 1.64  -0.76 \pm 0.06
1       spectral  0.02 \pm 0.01  -0.83 \pm 0.05
2             nn  0.02 \pm 0.02  -0.73 \pm 0.11
3       flow_rbf            NaN             NaN
4  flow_spectral  0.02 \pm 0.01  -0.83 \pm 0.05
5        flow_nn  0.04 \pm 0.03  -0.73 \pm 0.10

In [48]:
print(tab.to_latex(escape=False))

\begin{tabular}{llll}
\toprule
{} &         method &            mse &             nll \\
\midrule
0 &            rbf &  1.36 \pm 1.64 &  -0.76 \pm 0.06 \\
1 &       spectral &  0.02 \pm 0.01 &  -0.83 \pm 0.05 \\
2 &             nn &  0.02 \pm 0.02 &  -0.73 \pm 0.11 \\
3 &       flow_rbf &            NaN &             NaN \\
4 &  flow_spectral &  0.02 \pm 0.01 &  -0.83 \pm 0.05 \\
5 &        flow_nn &  0.04 \pm 0.03 &  -0.73 \pm 0.10 \\
\bottomrule
\end{tabular}